<md-input-container>
  <textarea [(ngModel)]="encoded_text" (ngModelChange)="onEncodedTextChange($event)" mdInput placeholder="Вставьте сюда зашифрованный текст"
    class="encoded-text"> </textarea>
</md-input-container>
<br>
<md-checkbox [(ngModel)]="deleteSymbols" (change)="onDeleteSymbolsChange($event)">Удалять символы, числа и пробелы из текста</md-checkbox>
<br><br>
<md-input-container>
  <input type="text" [(ngModel)]="key" (keyup.enter)="decode()" mdInput placeholder="Ключ">
</md-input-container>
<br>
<md-input-container *ngIf="decodedResult" class="decoded-text-container">
  <textarea [value]="decodedResult" mdInput class="decoded-text"> </textarea>
</md-input-container>
<br>
<button color="primary" md-raised-button (click)="decode()">Расшифровать</button>