.link {
  margin: 5px;
  text-decoration: none;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.github-button {
  padding: 3px 10px;
  width: 150px;
  align-self: flex-end;
}

.github-button a {
  color: #000;
}

.github-button a:visited {
  color: #000;
}

.github-button a:hover {
  color: #000;
}

.github-button a:active {
  color: #000;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
