<div class="header">
  <section style="align-self: flex-end;">
    <a href="https://github.com/Quake11rus/vigenere" target="_blank" class="link" md-button color="primary">
      <img src=" ../assets/img/GitHub-Mark-32px.png " alt="GitHub page "> GITHUB
    </a>
  </section>
  <h2 style="margin-top: 0">
    {{title}}
  </h2>
</div>
<nav md-tab-nav-bar class="navigation">
  <a md-tab-link *ngFor="let routeLink of routeLinks" [routerLink]="routeLink.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
         {{routeLink.label}}
  </a>
</nav>
<br>
<router-outlet></router-outlet>
