@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    margin: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.mat-input-placeholder {
  text-align: center !important;
}

.mat-input-element {
    text-align: center;
}

.encoded-text,
.decoded-text {
  width: 100%;
  min-width: 320px;
  height: 6em;
}